.myButton {
    display: block;
    padding: 0.4rem 1rem;
    background-color: var(--primary-0);
    color: var(--primary-4);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-radius: var(--border-radius);
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s;
    border: none;
}

.myButton:hover {
    border: 1px solid #ff6633;
    background-color: #ff6633;
    color: #fff;
}
