.cart {
    padding-top: 0.25rem;
    padding-bottom: 2rem;
    background-color: #dbeafe;
}

.article {
    padding: 0rem;
    margin-bottom: 0.25rem;
    border-radius: 0.25rem;
    /* border: 1px solid var(--primary-3); */
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.item_container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.5rem;
    justify-content: space-between;
}

.top_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1 1 0;
}

.bottom_wrap {
    display: grid;
    grid-template-columns: 4fr 4fr 1fr;
    gap: 0.25rem;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 0;
}

.figure {
    display: flex;
    line-height: 1.25rem;
    margin: 0;
}

.img_wrap {
    display: block;
    overflow: hidden;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: #e5e7eb;
    width: 4rem;
    height: 4rem;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.figcaption {
    margin-left: 0.75rem;
}

.link:hover {
    color: #2563eb;
}

.link_seller {
    margin-top: 0.25rem;
    color: #9ca3af;
}

.quantity_wrap {
    display: grid;
    grid-template-columns: repeat(3, 2.5rem);
    width: 100%;
    justify-items: center;
    gap: 0.1rem;
}
.price_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1 1 0;
}
.btn_wrap {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    flex-wrap: nowrap;
    flex: 1 1 0;
}

.input {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0;
}
.hr {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.checkInfo_wrap {
    padding: 0rem;
    margin-bottom: 1.25rem;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: #e5e7eb;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.chechInfo_ul {
    margin-bottom: 1.25rem;
}

.checkInfo_li {
    display: flex;
    margin-bottom: 0.25rem;
    justify-content: space-between;
    color: #4b5563;
}

.checkInfo_quantity {
    color: #10b981;
}
.checkInfo_total {
    display: flex;
    padding-top: 0.75rem;
    justify-content: space-between;
    border-top-width: 1px;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
}
.info {
    font-size: 1rem;
    text-indent: 1rem;
    line-height: normal;
    margin-bottom: 1rem;
}

@media (min-width: 640px) {
    .cart {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
}

@media (min-width: 768px) {
    .article {
        width: 75%;
    }
    .checkInfo_container {
        width: 25%;
    }
}

@media (min-width: 1024px) {
    .item_container {
        flex-direction: row;
    }

    .item_wrap {
        width: 40%;
    }
    .checkInfo_wrap {
        padding: 0rem;
    }
}

@media (min-width: 1280px) {
    .item_wrap {
        width: 50%;
    }
}
