.title_section {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #dbeafe;
}

.title {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
}

.main_section {
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
}

.main_wrap {
    display: flex;
    flex-direction: column;
}

.main {
    display: block;
}
.article {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-bottom: 1.25rem;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: #e5e7eb;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

@media (min-width: 640px) {
    .title_section {
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
    }
}
@media (min-width: 768px) {
    .main_wrap {
        flex-direction: row;
    }
}

@media (min-width: 1024px) {
    .article {
        padding: 1.25rem;
    }
}
