.header {
    margin-bottom: 1rem;
    justify-content: space-between;
}

.header_wrap {
    margin-bottom: 1rem;
}

.order_info {
    font-weight: 600;
}
.status_red {
    color: red;
}
.status_green {
    color: green;
}

.order_date {
    color: grey;
}

.person_wrap {
    display: grid;
    gap: 0.5rem;
}

.info_title {
    margin-bottom: 0.25rem;
    color: gray;
}

.info_ul {
    color: #4b5563;
    list-style: none;
}
.payment_status {
    color: green;
}

.hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.img_wrap {
    display: grid;
    gap: 0.5rem;
}

.figure {
    display: flex;
    margin: 0.25rem;
    flex-direction: row;
}

.img {
    display: block;
    overflow: hidden;
    padding: 0.25rem;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: #e5e7eb;
    width: 5rem;
    height: 5rem;
}

.figcaprion {
    margin-left: 0.25rem;
}

.total {
    margin-top: 0.25rem;
    font-weight: 600;
}

@media (min-width: 768px) {
    .person_wrap {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .img_wrap {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {
    .wrap {
        padding: 1.25rem;
    }
    .header {
        display: flex;
    }
    .header_wrap {
        margin-bottom: 0;
    }
    .img_wrap {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
