.wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0.5rem 0 0.5rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.line {
    display: flex;
    justify-content: space-between;
}

/* .details {
    align-self: flex-end;
} */

.summary {
    color: grey;
    text-decoration: underline;
    margin: 0.5rem 0;
}
.status_red {
    color: red;
}

.desc {
    display: flex;
    flex-direction: column;
}
.status_green {
    color: green;
}

.order_date {
    color: grey;
}

.info_title {
    margin-bottom: 0.25rem;
    color: gray;
}

.info_ul {
    color: #4b5563;
    list-style: none;
}
.payment_status {
    color: green;
}

.figure {
    display: flex;
    margin: 0.25rem 0;
    flex-direction: row;
    gap: 0.5rem;
}

.productImg {
    width: 3.5rem;
    height: 4.5rem;
    border-radius: 0.5rem;
}

.figcaprion {
    margin-left: 0.25rem;
}

.total {
    margin-top: 0.25rem;
    font-weight: 600;
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
    .wrap {
        padding: 1.25rem;
    }
}
