.img_wrap {
    width: 100%;
    height: 200px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text {
    text-align: justify;
    text-indent: 1rem;
    margin-bottom: 0.3rem;
}

.bold_text {
    text-align: justify;
    text-indent: 0.5rem;
    font-weight: bolder;
    margin-top: 0.5rem;
}
.red_text {
    text-align: justify;
    text-indent: 0.5rem;
    font-weight: bolder;
    color: red;
    margin-bottom: 0.3rem;
}
