.listProduct {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, 168px);
    gap: 0.3rem;
    align-items: center;
    justify-items: center;
    padding: 0.5rem 0;
    justify-content: space-around;
}
