.productDetails {
    width: 100%;
    position: relative;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.rating {
    color: var(--complement-0);
}

.price_wrap {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0;
}

.price {
    font-weight: 600;
}
.old_price {
    text-decoration: line-through;
    color: gray;
}
.discount {
    color: var(--complement-0);
    font-weight: bolder;
}

.desc {
    margin-bottom: 0;
    text-align: justify;
    color: #6b7280;
}

.details {
    margin: 0;
    padding: 0.5rem 0;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: initial;
}

.details summary {
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 0;
    list-style: none; /* Убираем стандартный маркер */
}

.details summary h2 {
    margin: 0;
    color: inherit;
    flex-grow: 1; /* Заставляем текст занимать доступное пространство */
}

.details summary::-webkit-details-marker {
    display: none; /* Скрываем стандартный маркер */
}

.details summary::before {
    content: "▶"; /* Используем свой собственный маркер */
    display: inline-block;
    margin-right: 0.5rem; /* Отступ между маркером и текстом */
    transform: rotate(90deg); /* Поворачиваем маркер на 90 градусов */
    transition: transform 0.2s; /* Плавный переход при раскрытии */
}

.details[open] summary::before {
    transform: rotate(
        0deg
    ); /* Возвращаем маркер в исходное положение при открытии */
}

.details p {
    margin-top: 0.5rem;
    color: #6b7280;
    text-align: justify;
    font-size: 0.9rem;
    line-height: 1.4;
}

.btn_wrap {
    position: fixed;
    width: 100%;
    right: 0;
    padding: 1rem;
    bottom: 38px;
    display: flex;
    margin-bottom: 0;
    flex-wrap: wrap;
    gap: 0.5rem;
    background-color: white;
    justify-content: center;
}

.ul_wrap {
    margin-bottom: 0;
}

.li_wrap {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.stock {
    display: inline-block;
    width: 9rem;
    font-weight: 500;
}
.stock_green {
    display: inline-block;
    font-weight: 500;
    color: #10b981;
}
.stock_red {
    display: inline-block;
    font-weight: 500;
    color: #ef4444;
}

.category {
    display: inline-block;
    width: 9rem;
    font-weight: 500;
}

.category_value {
    color: #6b7280;
}

.brand_value {
    color: var(--primary-4);
    background-color: var(--primary-3);
    border-radius: 5rem;
    padding: 0.1rem 0.5rem;
}
.seller_value {
    color: var(--primary-4);
    background-color: var(--primary-3);
    border-radius: 5rem;
    padding: 0.1rem 0.5rem;
    border: 1px solid var(--primary-3);
    cursor: pointer;
}
.seller_value:hover {
    color: var(--primary-3);
    background-color: var(--primary-4);
}

.review_wrap {
    font-weight: 600;
}

.review_title {
    color: #6b7280;
}
