.card {
    width: 100%;
    /* min-height: 325px; */
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    position: relative;
    gap: 0.2rem;
}
@media (max-width: 768px) {
    .card {
        padding: 0;
    }
}

.card__top {
    flex: 0 0 224px; /* Задаем высоту 220px, запрещаем расширение и сужение по высоте */
    aspect-ratio: 3/4;
    position: relative;
    overflow: hidden; /* Скрываем, что выходит за пределы */
}

/* Контейнер для картинки */
.card__image {
    display: block;
    aspect-ratio: 3/4;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--primary-3-05);
    border-radius: var(--border-radius);
    overflow: hidden;
    transition: all 0.5s;
}
.card__image:hover {
    transform: scale(1.1);
}

.card__label {
    padding: 0 4px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    background: var(--complement-0);
    color: var(--primary-4);
    border-radius: var(--border-radius);
    font-weight: bolder;
    line-height: 1.5;
    font-size: 0.8rem;
    text-align: center;
}

.card__bottom {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto; /* Занимаем всю оставшуюся высоту карточки */
}

.card__prices {
    display: flex;
    flex: 0 0 50%; /* Размещаем цены равномерно в две колонки */
    gap: 5px;
    align-items: center;
}

.card__priceDiscount {
    font-weight: 700;
    font-size: 17px;
    color: var(--primary-0);
    display: flex;
    flex-wrap: wrap-reverse;
}

.card__priceCommon {
    font-weight: 400;
    font-size: 13px;
    color: var(--secondary-b-1);
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    text-decoration: line-through;
}

.card__titleBox {
    display: block;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 150%;
    text-align: start;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: 0;
    padding: 0;
    margin: 0;
}

.card__titleBox:hover {
    color: #ff6633;
}
.card__titleSeller {
    font-size: 0.9rem;
    color: var(--primary-0);
}
.card__titleName {
    font-size: 0.9rem;
    color: var(--secondary-b-1);
}

.card__rating {
    display: flex;
    justify-content: space-between;
}

.card__ratingStar {
    font-size: 0.9rem;
    color: var(--complement-0);
}

.card__ratingStock {
    color: var(--secondary-b-1);
    font-size: 0.9rem;
}
