:root {
    /* RGBA коды */

    --primary-0: rgb(0, 51, 204); /* Основной Цвет */
    --primary-1: rgba(51, 51, 102, 1);
    --primary-2: rgba(0, 0, 51, 1);
    --primary-3: rgba(153, 153, 255, 1);
    --primary-3-05: rgba(153, 153, 255, 0.2);
    --primary-4: rgba(255, 255, 255, 1);

    --secondary-a-0: rgba(153, 0, 204, 1); /* Вторичный Цвет A */
    --secondary-a-1: rgba(102, 51, 102, 1);
    --secondary-a-2: rgba(51, 0, 51, 1);
    --secondary-a-3: rgba(204, 153, 255, 1);

    --secondary-b-0: rgba(51, 255, 0, 1); /* Вторичный Цвет B */
    --secondary-b-1: rgba(102, 102, 51, 1);
    --secondary-b-2: rgba(0, 51, 0, 1);
    --secondary-b-3: rgba(153, 255, 153, 1);

    --complement-0: rgba(255, 153, 0, 1); /* Дополнительный Цвет */
    --complement-1: rgba(153, 102, 51, 1);
    --complement-2: rgba(102, 51, 0, 1);
    --complement-3: rgba(255, 204, 153, 1);

    --gradient-0: linear-gradient(
        0deg,
        rgba(35, 69, 103, 0.2497373949579832) 0%,
        rgba(231, 248, 253, 0.4962359943977591) 10%,
        rgba(255, 255, 255, 1) 50%,
        rgba(231, 248, 253, 0.5018382352941176) 90%,
        rgba(35, 69, 103, 0.2497373949579832) 100%
    );

    --gradient-1: linear-gradient(
        270deg,
        rgba(153, 153, 255, 1) 0%,
        rgba(0, 51, 204, 1) 100%
    );

    --box-shadow: 2px 2px 8px 1px rgba(8, 0, 128, 0.5);
    --button-shadow: inset 0px 0px 5px 3px rgba(8, 0, 128, 0.5);

    --size-nonaccent: 0.8rem;

    --dist-mini: 5px;
    --dist-small: 10px;
    --dist-medium: 20px;
    --dist-large: 30px;

    --border-radius: 0.5rem;
}

* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

#root {
    width: 100%;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    /* font-family: "Times New Roman", Times, serif; */
    font-family: Arial, Helvetica, sans-serif;
    /* color: var(--primary-2); */
    overflow-x: hidden;
}

h1,
h2 {
    text-align: center;
    font-size: 1.1rem;
    padding: 0;
    margin: 0;
}
.hiddenTitle {
    margin: 0;
    padding: 0;
    font-size: 0.5rem;
    font-weight: normal;
}

h3 {
    margin: 0;
    text-align: center;
    font-size: 1.05rem;
}

a:focus,
a:active {
    outline: none;
}

/* Links */

a,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

input,
textarea {
    font-size: inherit;
    font-family: inherit;
}

.container {
    padding: 0 1rem;
    margin: 0 auto;
}
.section {
    position: relative;
    margin-bottom: 3.5rem;
}

.title {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 600;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.hr {
    margin: 0.5rem 0;
}

.roller_wrap {
    text-align: center;
    padding: 5rem;
}
.roller {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border: 10px solid var(--primary-0);
    border-radius: 50%;
    border-top-color: var(--complement-0);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@media (max-width: 640px) {
    body {
        font-size: 0.8rem;
        line-height: 1.2;
    }
}
@media (max-width: 768px) {
    body {
        font-size: 0.9rem;
    }
}
@media (max-width: 1024px) {
    body {
        font-size: 1rem;
    }
}
@media (max-width: 1280px) {
    body {
        font-size: 1.05rem;
    }
}
@media (max-width: 1536px) {
    body {
        font-size: 1.1rem;
        line-height: 1;
    }
}
